doctype html
html
    head
    body
        
        table
            thead
                tr
                    th Name
                    th id
                    th mobile 
                    th address
                    th date of birth
                    th age
            tbody               
                    tr
                        td #{result.name}
                        td #{result.id}
                        td #{result.mobileNumber}
                        td #{result.Address}
                        td #{result.DOB}
                        td #{result.age}